/.metadata/
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write.lock
.recommenders/caches/manual-mappings.json
.recommenders/caches/identified-project-coordinates.json
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write.lock
.recommenders/index/http___download_eclipse_org_recommenders_models_oxygen_/write.lock
