<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
	<display-name>Fotoen</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<servlet>
		<servlet-name>gestionUtilisateur</servlet-name>
		<servlet-class>controleur.GestionUtilisateur</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>gestionAlbums</servlet-name>
		<servlet-class>controleur.GestionAlbums</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>gestionPhotos</servlet-name>
		<servlet-class>controleur.GestionPhotos</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>gestionUtilisateur</servlet-name>
		<url-pattern>/www/connexion</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gestionUtilisateur</servlet-name>
		<url-pattern>/www/deconnexion</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gestionUtilisateur</servlet-name>
		<url-pattern>/www/inscription</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gestionAlbums</servlet-name>
		<url-pattern>/www/albumAjout</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gestionAlbums</servlet-name>
		<url-pattern>/www/albumCourant</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gestionAlbums</servlet-name>
		<url-pattern>/www/albumSuppression</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>gestionPhotos</servlet-name>
		<url-pattern>/www/consulterAlbum</url-pattern>
	</servlet-mapping>
</web-app>